<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
        <body>
        <form method="POST" action="/registros"> <!--en el formulario se crea y envian los datos a la ruta registros-->
            <input type="text" name="nombre" placeholder="Tu nombre" required> <!--name es el nombre de la clave de flask - en el campo de almacenaimeto debe ser llenado-->
            <input type="number" name="nota" placeholder="Tu nota" required> 
            <button type="submit">Registrar</button>
        </form>

        <h2>Registros guardados</h2>
        <ul>
        {% for d in datos %}
            <li>{{ d.nombre }} - {{ d.nota }}</li>
        {% endfor %}
        </ul>
    </body>
</html>